<!DOCTYPE html>
<html>

<head>
  <title>LS Pastery - Donuts</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="icon" type="image/png" href="/images/Icon.png">

</head>

<body>
  <section class="sessao azul fundo">
    <%- include('partials/header') %>
      <div class="produtos">
        <% doces.forEach(doce=> { %>
          <div class="card-produto">
            <img src="/images/<%= doce.foto %>" alt="<%= doce.nome %>">
            <div class="info-produto">
              <h3>
                <%= doce.nome %>
              </h3>
              <p><%= doce.texto %></p>
              <form method="POST" action="/add-carrinho">
                <input type="hidden" name="id" value="<%= doce.id %>">
                <input type="hidden" name="nome" value="<%= doce.nome %>">
                <input type="hidden" name="valor" value="<%= doce.valor %>">
                <input type="number" name="quantidade" value="1" min="1">
                <button class="botao-preco" type="submit">
                  <i class="fas fa-shopping-basket" aria-hidden="true"></i>
                  <span>R$ <%= doce.valor.toFixed(2).replace('.', ',' ) %></span>
                </button>
              </form>
            </div>
          </div>
          <% }); %>
      </div>
  </section>
</body>

</html>